h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    font-size: 48px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    line-height: 36px;
}

.vermelho {
   color: #ff0000;
}

.text_grande {
    font-size: 60px;
}

#titulo_h2 {
    background: 60px;
}

#titulo_h2-1 {
    color: greenyellow;
}